html, body {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    display: flex;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding-left: 1.5em;

    & li:not(:last-child) {
        margin-bottom: 0.7em;
    }
}

.right-floated {
    padding-left: 2em;
}

.list-no-dot {
    padding-left: 0.5em;

    & li {
        list-style-type: none;
    }
}

.parallel-list {
    display: flex;
    gap: 1em;
}

.left {
    width: 30%;
    min-width: 27em;
    color: white;
    background-color: #003a64;
    padding: 2.5em;

    & a {
        color: white;
        text-underline-offset: 4px;
    }
}

.right {
    flex-grow: 4;
    padding: 2.5em 3em;
    min-width: 22em;

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #005ba2;
        margin-bottom: 1.6em;
    }

    & a {
        letter-spacing: 0.03em;
        color: #005ba2;
        font-weight: bold;
        text-underline-offset: 4px;
    }

    & ul {
        color: #454545;
    }
}

.location {
    font-size: 1.2em;
    text-align: center;

    & img {
        vertical-align: bottom;
        width: 1.2em;
        height: 1.2em;
    }
}

.icon {
    vertical-align: top;
    width: 1.4em;
    height: 1.4em;
}

.shady {
    opacity: 0.5;
}

.section {
    font-size: 1.2em;
    margin-top: 3em;
}

.section-header {
    letter-spacing: 0.03em;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
}

header {
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.job {
    margin-bottom: 2em;
    margin-left: 0.5em;
}

.company {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.position {
    margin-top: 0.5em;
}

.dates {
    float: right;
    color: #898989;
}

.company-description {
    display: table;
    background-color: #f0f7fc;
    padding: 1.5em;
    margin: 1em 0;
    border-radius: 0.5em;
}

i {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.copy {
    vertical-align: center;
    opacity: 0.7;
    margin-left: 0.3em;
    cursor: pointer;
}

.copy:active {
    opacity: 0.5;
}

.invisible {
    transition: 3s;
    opacity: 0;
}

#email-copy-notification {
    margin-left: 0.3em;
}

.download {
    user-select: none;
    color: #003a64;
    letter-spacing: normal;
    font-size: 1rem;
    font-weight: normal;
    width: 200px;
}

#download-button {
    padding: 0.8em;
    border: solid #003a64 1px;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & img {
        width: 0.7rem;
        height: 0.7rem;
    }

    &:hover {
        background-color: #005ba2;
        color: white;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;

        & img {
            content: url("assets/white-arrow.png");
        }
    }
}

#download-options {
    padding: 0;
    width: inherit;
    position: absolute;
    border: solid #005ba2 1px;
    border-radius: 0 0 5px 5px;
    border-top: none;
    display: none;
    background-color: white;

    & li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;
        cursor: pointer;
        padding: 0.8em;

        &:hover {
            transition: 0.3s;
            background-color: #005ba2;
            color: white;

            & img {
                content: url("assets/white-download.png");
            }
        }
    }
}

@media (max-width: 1200px) {
    .right header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        text-align: left;
        margin-bottom: 0;

        .download {
            margin-top: 1em;
        }
    }
}

@media (max-width: 900px) {
    .dates {
        display: block;
        margin-top: 0.5em;
        float: none;
    }
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }

    .left {
        width: 100%;
        min-width: 300px;
    }

    .right {
        min-width: 300px;
    }
}