body {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding-left: 1.5em;

    & li:not(:last-child) {
        margin-bottom: 0.7em;
    }
}

.right-floated {
    padding-left: 2em;
}

.list-no-dot {
    padding-left: 0.5em;

    & li {
        list-style-type: none;
    }
}

.parallel-list {
    display: flex;
    gap: 1em;
}

a {
    text-underline-offset: 4px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.left {
    width: 30%;
    min-width: 27em;
    color: white;
    background-color: #003a64;
    padding: 2.5em;
}

.right {
    flex-grow: 4;
    padding: 2em;

    & header {
        color: #005ba2;
    }
}

.location {
    font-size: 1.2em;
    text-align: center;

    & img {
        vertical-align: bottom;
        width: 1.2em;
        height: 1.2em;
    }
}

.icon {
    vertical-align: top;
    width: 1.4em;
    height: 1.4em;
}

.shady {
    opacity: 0.5;
}

.section {
    font-size: 1.2em;
    margin-top: 2em;
}

.section-header {
    letter-spacing: 0.03em;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
}

header {
    letter-spacing: 0.03em;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

@media (max-width: 700px) {
    body {
        flex-direction: column;
    }

    .left {
        width: 100%;
        min-width: 300px;
    }
}